:root {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace; /* TODO */
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

/* #region scroll bar */
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: grey;
}
/* #endregion */

main {
  margin-left: 20rem;
  padding: 1rem;
}

/* #region navigation bar */
.navbar {
  width: 20rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-item {
  margin-bottom: 1rem;
}

.nav-link {
  display: flex;
  align-items: center;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  color: var(--text-secondary);
}
/* #endregion

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  main {
    margin: 0;
    height: calc(100vh - 7rem); /* Set the height of the container to 100% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling within the container */
  }

  /* #region scroll bar */
  body {
    overflow: hidden;
  }

  main::-webkit-scrollbar {
    width: 0.5rem;
  }

  main::-webkit-scrollbar-track {
    background: black;
  }

  main::-webkit-scrollbar-thumb {
    background: grey;
  }
  /* #endregion */

  .nav-item {
    margin-right: 1rem;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 20rem;
    height: 100vh;
  }
}
