/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    --hue-color: 220; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 60%, 50%);
    --first-color-second: hsl(var(--hue-color), 60%, 50%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    --btn-color: hsl(var(--hue-color), 60%, 50%);

    /*========== Dark Theme ==========*/
    body.dark-theme {
      --first-color-second: hsl(var(--hue-color), 30%, 5%);
      --title-color: hsl(var(--hue-color), 8%, 85%);
      --text-color: hsl(var(--hue-color), 8%, 65%);
      --input-color: hsl(var(--hue-color), 29%, 10%);
      --body-color: hsl(var(--hue-color), 28%, 8%);
      --container-color: hsl(var(--hue-color), 29%, 10%);
      --scroll-bar-color: hsl(var(--hue-color), 12%, 38%);
      --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);
      --btn-color: hsl(var(--hue-color), 29%, 10%)
    }

    /*========== Button Dark/Light ==========*/
    .nav__btns {
      display: flex;
      align-items: center;
    }

    .change-theme {
      font-size: 1.25rem;
      color: var(--title-color);
      margin-right: var(--mb-1);
      cursor: pointer;
    }
    
    .change-theme:hover {
      color: var(--first-color);
    }

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margins Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color 0.3s ease-in-out;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 4vh 0 4rem;
  margin: 0 10rem;
  height: 96vh;
  box-sizing: border-box;
  min-height: fit-content;
}

.section__title {
  font-size: var(--h1-font-size); 
  color: var(--title-color);
  margin-bottom: 1rem;
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  transition: background-color 0.3s ease-in-out;
}

/*==================== NAV ====================*/
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle{
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__logo:hover {
  color: var(--first-color);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 1s;
  }
}

.nav__list {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  top: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover {
  color: var(--first-color-alt);
}

/* show menu */
.show-menu {
  bottom: 0;
}

/* navigation bar for larger devices */
@media screen and (min-width: 767px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .section__subtitle {
    margin-bottom: 4rem;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header,
  .main {
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    row-gap: 2rem;
  }

  .change-theme {
    margin-left: 1rem;
  }
  
  .nav__menu {
    margin-left: auto;
  }
}

/* Change background header */
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0,0,0,.15);
}

/*==================== HOME ====================*/

#home {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.home__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.home__pic-container img {
  overflow: hidden;
  border-radius: 50%;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: var(--h2-font-size);
  margin-bottom: 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  text-align: center;
}


/*==================== BUTTONS ====================*/

.btn-container {
  display: inline-flex;
  justify-content: center;
}

.btn {
  font-weight: 600;
  transition: all 300 ease;
  padding: 1rem;
  border-radius: 1rem;
}

.btn-color-1,
.btn-color-2 {
  border: var(--first-color) 0.1rem solid;
}

.btn-color-1 {
  background: var(--first-color-alt);
  color: white;
}

.btn-color-2 {
  color: var(--first-color);
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1:hover {
  background: var(--first-color);
  color: white;
}

.btn-color-2:hover {
  background: var(--first-color);
  color: white;
}

/*==================== ABOUT ====================*/

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 1rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  border-radius: 1rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: var(--first-color);
  text-align: center;
}

.details__icon {
  font-size: 2rem;
  color: var(--first-color);
}

.section-container {
  display: flex;
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  display: flex;
  height: 400px;
  min-width: 400px;
  margin: auto 0;
}

/*==================== SKILLS ====================*/


/*==================== QUALIFICATION ====================*/


/*==================== SERVICES ====================*/


/* Active Modal */


/*==================== PORTFOLIO ====================*/


/*==================== PROJECT IN MIND ====================*/


/*==================== TESTIMONIAL ====================*/


/*==================== CONTACT ME ====================*/


/*==================== FOOTER ====================*/


/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium devices */


/* For large devices */